# 服务配置
PORT=3001

# OSS配置
OSS_REGION=oss-cn-hangzhou
OSS_ACCESS_KEY_ID=your-access-key-id
OSS_ACCESS_KEY_SECRET=your-access-key-secret
OSS_BUCKET=your-bucket-name

OSS_STS_ENDPOINT=sts-vpc.cn-hangzhou.aliyuncs.com
OSS_ROLE_ARN=your-role-arn

# 文档解析服务配置
DOC_PARSE_BASE_URL=http://localhost
DOC_PARSE_PORT=80
APP_ID=demo-app-id
SECRET_KEY=demo-secret-key

# 回调配置
CALLBACK_BASE_URL=http://localhost:3001

